﻿@model CinelWeb.Models.Contato

@{
    ViewBag.Title = "Home Page";
}

<body>
<header>
    <nav class="w3-top">
        <div class="w3-bar w3-black">
            <span class="logo w3-bar-item w3-mobile">Cinel Serviços de Formação</span>
            <span class="w3-right w3-mobile">
                <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Home</a>
                <a href="#sobre" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Sobre</a>
                <a href="#cursos" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Cursos</a>
                <a href="#contatos" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Contatos</a>

            </span>
        </div>
    </nav>
</header>

<section class="showcase">
    <div class="w3-container w3-center">
        <h1 class="w3-shadow w3 animate-opacity">Sonhe...</h1>
        <hr>
        <p class="w3 animate-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum iure dolores, commodi cupiditate suscipit, repudiandae atque sed consequuntur dicta, repellendus voluptas odio. Odio ipsum eveniet sit quidem necessitatibus corporis tempora in nostrum velit, consequuntur numquam amet dolorum eaque beatae neque.</p>
        <button onClick="document.getElementById('abre-janela').style.display='block'" class="w3-button w3-red w3-large w3-opacity">Começa aqui</button>
    </div>
</section>

<section class="welcome w3-red w3-hover-opacity">
    <div class="w3-container w3-center">
        <i class="fa fa-home"></i>
        <h2>Bemvindos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, necessitatibus, voluptas incidunt, laudantium consequatur vel, deleniti aliquam accusamus mollitia doloremque corrupti eaque similique non.</p>
    </div>
</section>

<section class="welcome w3-light-gray w3-hover-opacity">
    <div class="w3-container w3-center">
        <i class="fa fa-cog"></i>
        <h2>Inscreva-se</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore, necessitatibus, voluptas incidunt, laudantium consequatur vel, deleniti aliquam accusamus mollitia doloremque corrupti eaque similique non.</p>
    </div>
</section>

<section id="sobre" class="welcome">

    <div class="w3-container">
        <!---divide um écran em 12 colunas--->
        <div class="w3-row-padding">
            <!---cria uma linha com 12 células dentro do container--->

            <div class="w3-col m5">
                <!---em versão mobile ocupa 5 colunas--->
                <img src="../Content/imagens/about.jpg">
            </div>
            <div class="w3-col m7">
                <!---em versão mobile ocupa 5 colunas--->

                <button class="w3-btn w3-block w3-black w3-left-align">O que fazemos</button>
                <div id="fazemos" class="w3-container w3-show">
                    <!---uma div tem um id qd vai ser chamada no código javascript--->
                    <h3>Fazemos tudo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aut aspernatur quos enim delectus eligendi.</p>
                </div>

                <button onClick="Acc_Function('quem')" class="w3-btn w3-block w3-black w3-left-align">Quem somos</button>
                <div id="quem" class="w3-container w3-hide">
                    <!---com hide esconde o conteúdo; o javascript vai fazer abrir--->
                    <h3>Somos Cinel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aut aspernatur quos enim delectus eligendi.</p>
                </div>

                <button onClick="Acc_Function('estamos')" class="w3-btn w3-block w3-black w3-left-align">Onde estamos</button>
                <div id="estamos" class="w3-container w3-hide">
                    <h3>Estamos em todo o lado</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aut aspernatur quos enim delectus eligendi.</p>
                </div>

            </div>

        </div>
    </div>
</section>

<section>

    <header id="cursos" class="welcome w3-red w3-hover-opacity">
        <div class="w3-container w3-center">
            <h1 class="w3-text-shadow">Nossos cursos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quas et dolorem ea quibusdam. Ex, sed sit ipsa! Nesciunt, magnam!</p>
        </div>
    </header>

    <section class="welcome w3-light-gray">
        <div class="w3-container w3-center">
            <div class="w3-row">

                <div class="w3-col m3">
                    <i class="fa fa-medium w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Produtos Multimédia</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="w3-col m3">
                    <i class="fa fa-cubes w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Programação</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="w3-col m3">
                    <i class="fa fa-wifi w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Redes</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="w3-col m3">
                    <i class="fa fa-television w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Eletrónica</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
        </div>
    </section>
</section>

<section>
    <header id=contatos class="welcome w3-dark-grey w3-hover-opacity">
        <div class="w3-container w3-center">
            <h1 class="w3-text-shadow">Contate-nos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates saepe nam vero qui tenetur, quisquam quis nemo at veritatis, nisi hic nihil neque eligendi rem?</p>
        </div>
    </header>
    <section class="welcome">
        <div class="w3-container">
            <div class="w3-card-4">
                <div class="w3-container w3-dark-grey">
                    <h2>Contate-nos</h2>
                    <form class="w3-container w3-padding-large">
                    @using (Html.BeginForm("Index", "Contatos", FormMethod.Post))
                     {
                        @Html.LabelFor(model => model.nome, "Nome")<br>
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "w3-input", type = "text", placeholder = "Nome" } })

                        @Html.LabelFor(model => model.email, "Email")<br>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "w3-input", type = "email", placeholder = "Email" } })

                        @Html.LabelFor(model => model.mensagem, "Mensagem")<br>
                        @Html.TextAreaFor(model => model.mensagem, htmlAttributes: new { @class="w3-input w3-border", style="resize:none", type="text", placeholder = "Mensagem" })
               
                        @Html.LabelFor(model => model.dataContato, "Data")<br>
                        @Html.EditorFor(model => model.dataContato, new { htmlAttributes = new { @class = "w3-input", type = "text", placeholder = "Data" } })
                        <br><br>
                        <button type="submit" class="w3-button w3-blue">Enviar</button>
                    }
                    </form>

                </div>
            </div>
        </div>
    </section>
</section>
</body>